;
; Example configuration file, containing numeric, string, boolean, and list values.
;
; See IntegrationTest.java for tests which assert against this file.
;

[user]
id          = 641220 ; LDAP uid
name        = "Alice Sykes"
email<olakka> = asykes@olakka.com
email       = alice.sykes@gmail.com
email<work> = asykes@company.com

[color]
; hahaha
ui = true
transparency = 75.5

[core]
excludes     = .ignore,~/.ignore,/etc/ignore ;just ignore
preloadindex = false


[example]

multiple_values = first,second,third ; !!!
